.footer-contact {
  position: relative;
  background-color: rgb(246, 239, 246);
  z-index: 1;
  padding: 56px 16px 16px;
  display: flex;
  flex-direction: column;

  &__ {
    &address {
      margin-bottom: 16px;
      text-align: center;

      &- {
        &title {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 8px;
        }

        &phone {
          color: #3367D6;
          text-decoration: underline;
        }

        &info {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    &location {
      width: 400px;
      max-width: 95vw;
      border-radius: 12px;
      overflow: hidden;
    }

    &social {
      display: flex;
      align-items: center;
      justify-content: center;

      &- {
        &header {
          font-weight: 600;
          font-size: 12px;
        }

        &item {
          //width: 33%;
          padding: 8px 12px;
          display: flex;
          justify-content: center;
          align-items: center;

          div {
            line-height: 24px;
            color: #3367D6;
            text-decoration: underline;
          }
        }

        &image {
          width: 32px;
          height: 32px;
          margin-right: 12px;
        }
      }
    }
  }
}

@media only screen and (min-width: 640px) {
  .footer-contact {
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__ {
      &loc-link {
        margin-left: 24px;
      }
    }
  }
}