.product {
  &- {
    &container {
      max-width: 100vw;
    }

    &item {
      padding: 6px;
      border-radius: 6px;
      overflow: hidden;
      background-color: rgba(255, 255, 255, 0.7);
      text-align: center;

      img {
        width: 100%;
        border-radius: 6px;
        min-height: 190px;
      }

      &__ {
        &name {
          font-size: 14px;
          padding: 12px 8px;
        }
      }
    }
  }

  &__ {
    &count {
      padding: 20px 12px;
    }

    &list {
      min-height: calc(100vh - 330px);
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 8px;
      padding: 8px;
    }
  }
}

.products {
  &__ {
    &filter-cta {
      margin: 8px auto;
      background: linear-gradient(to right, rgb(222, 87, 229), rgb(136, 99, 251));
      padding: 12px;
      text-align: center;
      color: white;
      display: inline-block;
      width: calc(100% - 60px);
      border-radius: 6px;
      cursor: pointer;

      &-container {
        display: flex;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 10;
      }
    }
  }
}

.product {
  &__ {

    &image {
      min-width: 100vw;
    }

    &topbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 24px;
    }

    &holder {
      padding: 24px;
    }

    &name {
      font-size: 24px;
      font-weight: 500;
    }

    &desc {
      margin-top: 16px;
      font-size: 16px;
      line-height: 20px;
    }

    &item {
      margin: 24px 0;
      display: inline-flex;
      flex-direction: column;
      width: 33%;

      &- {
        &key {
          font-weight: 600;
          font-size: 12px;
        }

        &value {
          font-size: 32px;
          font-weight: 300;
          padding-top: 12px;

          &-- {
            &gms {
              &:after {
                content: ' gms';
                font-size: 14px;
                font-weight: 400;
              }
            }

            &gender {
              font-size: 24px;
            }
          }
        }
      }
    }

    &social {
      display: flex;
      align-items: center;

      &- {
        &header {
          font-weight: 600;
          font-size: 12px;
        }

        &item {
          width: 20%;
          padding: 8px 12px;
          display: flex;
          justify-content: center;
        }

        &image {
          width: 32px;
          height: 32px;
        }
      }
    }

    &suggestion {
      display: flex;
      flex-direction: column;
      margin-top: 24px;

      &- {
        &title {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 12px;
          padding-left: 24px;
        }

        &content {
          overflow-x: auto;
          display: flex;
          flex-direction: row;
          padding: 0 16px;

          & .product-item {
            min-width: 200px;
          }

          & a:last-child {
            padding-right: 24px;
          }

          a {
            display: flex;
            margin-right: 12px;
          }
        }
      }
    }
  }
}

.page__products .footer-contact {
  padding-bottom: 60px;
}

@media only screen and (min-width: 720px) {
  .page__products {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-areas: "filters products";
  }
  .list__cont {
    grid-area: products;
  }
  .product__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-start: 2;
  }
  .products__filter-cta-container {
    display: none;
  }
  .page__products .footer-contact {
    width: calc(100vw - 32px);
  }

  .product__cont {
    display: flex;
    flex-direction: row;
    padding: 40px 100px;
    justify-content: center;

    .slide__cont {
      width: 500px;

      img {
        min-width: 500px;
        max-width: 500px;
      }
    }

    .prod__cont {
      //width: calc(100% - 500px);
      //padding-right: 120px;
      padding-left: 20px;
    }
  }
  .product__name {
    font-size: 32px;
  }
  .product__item {
    width: 100px;
    //align-items: center;
  }
  .product__desc {
    max-width: 720px;
  }
  .product__suggestion {
    align-items: center;
    margin-bottom: 52px;
  }
  .product__suggestion-content .product-item {
    width: 240px;
  }
  .product__suggestion-title {
    font-size: 24px;
    padding-bottom: 14px;
  }
  .product__social-item {
    width: 40px;
  }

  .product__count{
    padding-top: 26px;
  }

}