.section {
    width: 100%;
    padding-top: 40px;
    position: relative;
}

.section:after {
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: rgb(236, 236, 248);
}

.section__header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px;
}

.gender {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4px;
    cursor: pointer;
}

.gender__icon {
    width: 40px;
    height: 40px;
    transition: all 0.2s ease-in-out;
}

.gender__name {
    font-size: 12px;
    margin: 12px;
    color: rgb(0, 0, 30);
    text-transform: uppercase;
}

.banner__img {
    min-width: 100vw;
}

@media only screen and (min-width: 640px) {
    .section__header {
        font-size: 32px;
    }
    .gender {
        padding: 16px;
    }
    .gender__icon {
        width: 80px;
        height: 80px;
    }
    .gender__name {
        font-size: 18px;
        text-transform: initial;
    }
}