.section {
    width: 100%;
    padding-top: 40px;
    position: relative;
}

.section:after {
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: rgb(236, 236, 248);
}

.section__header {
    text-align: center;
    font-size: 32px;
    margin-bottom: 24px;
}

.gender {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

.gender__icon {
    width: 48px;
    height: 48px;
    transition: all 0.2s ease-in-out;
}

.gender:hover .gender__icon {
    transform: scale(1.2);
}

.gender__name {
    font-size: 14px;
    margin: 12px;
    color: rgb(0, 0, 30);
}
