.slider__dots {
  display: flex;
  flex-direction: row;
  padding: 8px;
  justify-content: center;
  height: 12px;
  align-items: center;
}

.slider__dot {
  width: 24px;
  height: 4px;
  border-radius: 4px;
  background-color: #646464;
  margin: 6px;
  transition: all ease-in-out 0.2s;
}

.slider__dot--active {
  height: 6px;
  width: 28px;
  margin: 4px;
}

@media only screen and (max-width: 640px) {
  .BrainhubCarouselItem {
    height: 100vw;
  }

}